:root {
    --bg: #040f16;
    --text: #d7f9f3;
    --primary: #81ecd6;
    --secondary: #1b6fc9;
    --secondary-hover: #0f3d6e;
    --secondary-dark: #0a2b51;
    --accent: #4470e2;

    --radius-large: 32px;
    --radius-medium: 20px;
    --radius-small: 12px;
    --radius-xsmall: 8px;

    --size1: 28px;
    --size2: 18px;
    --size3: 16px;
    --size4: 14px;
}

/* whole document */
html {background: var(--bg); }
* { font-family: 'Nunito'; }

/* scrollbar */
::-webkit-scrollbar {
    background-color: transparent;
    width: 8px;
}
::-webkit-scrollbar-thumb {
    background-color: var(--secondary-hover);
    border-radius: var(--radius-xsmall);
}
::-webkit-scrollbar-thumb:hover {
    background-color: var(--secondary);
}

/* styling classes */
a { color: var(--secondary); }
a:hover { color: var(--secondary-hover); }
.row { display: flex; flex-direction: row; }
.col { display: flex; flex-direction: column; }
.cntr { align-items: center; justify-content: center; }
.align-center { width: auto; display: flex; flex-direction: column; align-items: center; }
.hidden { display: none; }
.shown { display: flex; }
.codefont {
    font-family: 'JetBrains Mono';
}
code {
    font-size: var(--size4);
    font-family: 'JetBrains Mono';
    background-color: var(--secondary-dark);
    padding-left: 6px; padding-right: 6px;
    border-radius: var(--radius-xsmall); 
}

/* radii */
.rad-solo { border-radius: var(--radius-medium); }
.rad-left { border-radius: var(--radius-medium) var(--radius-xsmall) var(--radius-xsmall) var(--radius-medium); }
.rad-cntr { border-radius: var(--radius-xsmall); }
.rad-right { border-radius: var(--radius-xsmall) var(--radius-medium) var(--radius-medium) var(--radius-xsmall); }


header {
    height: 100px;
    left:0; right:0;
    margin: 0;

    border-radius: var(--radius-small) var(--radius-small) var(--radius-large) var(--radius-large);
    background-color: var(--secondary);
}
.header-left {
    align-items: baseline;
    color: var(--bg);
    gap: 12px;
}
.header-right {
    position: absolute;
    right: 52px;
    gap: 4px;

    font-size: var(--size3);
    color: var(--bg);
    text-decoration: none;
}
.header-right span { text-decoration: underline; }
.header-right i { font-size: var(--size2); }



.seg-button-container {
    width:fit-content;
    --pad: 8px;
    padding: var(--pad);
    margin-top: 52px; margin-bottom: 24px;
    gap: 8px;
    background-color: var(--secondary-dark);
    border-radius: calc(var(--radius-medium) + var(--pad));
}
.seg-button {
    height: 40px;
    position: relative;
    font-size: var(--size3);
    cursor: pointer;
    overflow: hidden;
    transition: width 0.2s ease;
}
.seg-button.off {
    width: 60px;
    background: none;
    border: solid 4px var(--secondary);
    color: var(--secondary);
}
.seg-button.off:hover { background-color: var(--secondary-hover); }
.seg-button.on, .seg-button.on:hover {
    width: 120px;
    background: var(--secondary);
    border: none;
    color: var(--bg);
}
.seg-button i {
    position: absolute;
    width: 10px;
    left: 20px;
}
.seg-button span {
    position: absolute;
    width: 100%;
    transform: width 0.2s ease;
}
.seg-button.off span {
    opacity: 0;
    width: 0;
    transform: scaleX(0);
}
.seg-button.on span {
    opacity: 1;
    width: 100%;
    left: 10px;
    transform: scaleX(1);
}


.section-container {
    align-items: flex-start;
    background: none;
    border: solid 8px var(--secondary-dark);
    border-radius: var(--radius-large);
    padding: 36px;
    gap: 72px;
}
.article-group {
    gap: 24px;
}
.wider {
    gap: 48px;
}
h2 {
    color: var(--primary);
    font-size: var(--size1);
}
article {
    justify-content: left;
    gap: 16px;
    margin-bottom: 12px;
    color: var(--text);
}
.cmd-header {
    width: fit-content;
    background: var(--secondary-dark);
    border-radius: var(--radius-small);
    padding: 8px; padding-left: 16px; padding-right: 16px;
    font-size: var(--size2);
}
.norm-header {
    font-size: var(--size2);
    font-weight: bolder;
}
.ph-caret-right { color: var(--secondary); }
.cmd { color: var(--primary); }
.cmd-body { margin-left: 16px }
.link-row { gap: 8px; }
.image-cap {
    align-items: center;
    gap: 8px;
}
article img {
    width: 400px;
    border-radius: var(--radius-medium);
}

hr {
    width: 90%;
    margin: 36px auto;
    margin-bottom: 48px;
    border: dashed 1px var(--secondary-dark);
}
th {
    background-color: var(--secondary-hover);
    border: none;
}
th, td {
    padding: 4px; padding-left: 8px; padding-right: 8px;
    border: 1px solid var(--secondary-dark);
}